:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#bg {
	background-color: #333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -2;
	position: fixed;
	height: 100%;
	width: 100%;
}
#svelte {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, #000 90%);
	background-attachment: fixed;
	margin: 0;
}
#svelte main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
